*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: "Calibri";
}
/* comienzo de pagina */
header {
    background:url("fondo.jpg");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat; 
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
}

section h1 {
    font-size: 44px;
}

.conteiner {
    text-align: center;
}

.conteiner p {
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
}

/* foto de perfil */
.avatar {
    background:url("perfil.jpg");
    background-size: cover;
    height: 10em;
    width: 10rem;
    border-radius: 50%
}
/* esto es un resumen de mis empleos*/

body{
    background-color:lightgray ;
}
section{
    height: 100px;
}

section#hero{
    background-color:lightgrey ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 h1{
    font-size: 3rem;
}
 h2{
    font-size: 2rem;
    text-align: center;
}

.empleos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.detalles{
    border: 5px solid blue;
    border-radius: 15px;
    width: 300px;
    margin: 20px;
}
.detalles img{
    width: 100%;
    border-radius: 50%;
}

.contacto{
    
}
nav ul li{
    margin-right: 20px;
    padding: 5px 5px;
}
